@import "custom_properties";
@import "variables";
@import "mixins";

.scanner,
.qrScanner {
  margin: 0;
  opacity: 0;
  z-index: -1;
  display: flex;
  border: 1px solid #858585;

  video {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
  }

  canvas {
    height: 100%;
    width: 100%;
    opacity: 0;
    position: absolute;
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    opacity: 0;
    font-size: 90px;
    transition: opacity 100ms linear;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    color: $icon-color;
    z-index: -1;
    &:before {
      font-family: var(--scan-icon-font-family);
      font-weight: var(--scan-icon-font-weight);
      content: var(--scan-icon-background);
    }
  }

  #backBtn {
    opacity: 0;
    position: fixed;
    top: 0;
    right: 0;
    margin: 1rem;
    transition: opacity 100ms ease-in;
    z-index: 1002;
    padding: .7rem 1.3rem;
    @extend %button;
  }

  &.show {
    .icon {
      opacity: 1;
      height: 200px;
      width: 200px;
      padding: 3rem;
      .iconTopBorder, .iconBottomBorder {
        position: absolute;
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 30%;
        left: 0;
      }
      .iconTopBorder {
        top: 0;
        &:before, &:after {
          border-top: $icon-border;
          @extend %icon-border-pseudo;
        }
        &:before {
          border-top-left-radius: 20px;
          border-left: $icon-border;
        }
        &:after {
          border-top-right-radius: 20px;
          border-right: $icon-border;
        }
      }
      .iconBottomBorder{
        bottom: 0;
        &:before, &:after {
          border-bottom: $icon-border;
          @extend %icon-border-pseudo;
        }
        &:before {
          border-left: $icon-border;
          border-bottom-left-radius: 20px;
        }
        &:after {
          border-bottom-right-radius: 20px;
          border-right: $icon-border;
        }
      }
    }
  }
 &.dark {
   background-color: $dark-background-color;
 }
  &.light {
    background-color: $light-background-color;
  }
}

.scannerMessage,
.qrScannerMessage {
    position: absolute;
    bottom: 2rem;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 2000;
    .msg {
      @extend %button;
      background: #333;
      color: #bbb;
      padding: .7rem 3rem;
      &:before {
        font-family: var(--scan-icon-font-family);
        font-weight: var(--scan-icon-font-weight);
        margin-left: -1rem;
        margin-right: .5rem;
      }
      &.success:before {
        content: var(--scan-icon-success);
      }
      &.error:before {
        content: var(--scan-icon-error);
      }
      &.loading:before {
        content: var(--scan-icon-loading);
        animation: spin 3s infinite linear;
      }
    }
}
